<html>
<head>
    <title></title>
    <script>

        window.onload = function setHeaders() {
            localStorage.getItem('token')
        }
        console.log(localStorage.getItem('token'))

        function handleSubmit() {

            event.preventDefault();
            fetch(`/api/auth/createProfile`, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    'token': localStorage.getItem('token'),
                    'Accept': '*/*',
                    'Accept-Encoding': 'gzip, deflate, br',
                    'Cache-Control': 'no-cache',
                },
                body: JSON.stringify({
                    "age": document.getElementById('age').value,
                    "name": document.getElementById("name").value,
                    "nationality": document.getElementById("nationality").value,
                    "phone": document.getElementById("phone").value,
                    "education": document.getElementById("education").value,
                })
            }).then(function (response) {
                console.log(response)
                return response.json();
            })
                .then(function (jsonResponse) {
                    obj = jsonResponse
                }).finally(
                ApiResponse
            )
        }

        function loadProfile() {
            getProfile()
        }

        function getProfile() {
            event.preventDefault();
            var req = new XMLHttpRequest();
            req.open("GET", '/user/showProfile', true);
            req.onreadystatechange = function (aEvt) {
                if (req.readyState == 4) {
                    if (req.status == 200) {
                        window.location.href = "/user/showProfile"
                    } else {
                        alert("Error loading page\n");
                    }
                }
            };
            req.setRequestHeader("token", localStorage.getItem("token"))
            req.send()
        }

        function ApiResponse() {
            document.getElementById("res").textContent = getObject("result")
            document.getElementById("msg").textContent = getObject("message")
            document.getElementById("code").textContent = getObject("code")
            document.getElementById("data").textContent = getObject("data")
        }

        function getObject(key) {
            if (key === "data") {
                return objToString(obj[key])
            }
            return obj[key]
        }

        function objToString(obj) {
            return Object.entries(obj).reduce((str, [p, val]) => {
                return `${str}${p}::${val}\n`;
            }, '');
        }
    </script>
</head>
<body>

<form id="form1" name="form1">
    <div class="container">
        <h1>Create Profile</h1>
        <p>Please fill in the details to create a profile.</p>
        <hr>
        <label><b>Enter Age</b></label>
        <input id="age" type="text" placeholder="Enter Age" name="age"> </br>
        <label><b>Enter Name</b></label>
        <input id="name" type="text" placeholder="Enter Name" name="name"></br>
        <label><b>Enter Education</b></label>
        <input id="education" type="text" placeholder="Enter Education" name="education"></br>
        <label><b>Enter Nationality</b></label>
        <input id="nationality" type="text" placeholder="Enter Nationality" name="nationality"></br>
        <label><b>Enter Phone</b></label>
        <input id="phone" type="text" placeholder="Enter Phone" name="phone"></br>

        <input id="token" type="hidden" name="token" value={{.Token}}></br>
        <hr>
        <button id="submitButton" type="submit" class="createProfile" onclick=handleSubmit()><strong>Create
            Profile</strong></button>
        <button id="showProfile" type="button" value="Check" onclick=loadProfile()><strong>Get
            Profile</strong></button>
    </div>
</form>
<hr>
<hr>
<hr>
<div class="error response">
    <h2 style="color: darkred">Request Response for API</h2>
    <hr>
    <label><b><h4>Response Code</h4></b></label><br><label id="code" style="color: darkmagenta"><b>Response from
    Server</b></label>
    <hr>
    <label><b><h4>Message</h4></b></label><br><label id="msg" style="color: darkblue"><b>Response from
    Server</b></label>
    <hr>
    <label><b><h4>Result</h4></b></label><br><label id="res" style="color: darkgreen"><b>Response from
    Server</b></label>
    <hr>
    <label><b><h4>Data</h4></b></label><br><label id="data" style="color: goldenrod"><b>Response from
    Server</b></label>
    <hr>
</div>
</body>
</html>