<html>
<head>
    <title></title>

</head>
<body>
<div>
    <script>

        localStorage.getItem('token')

        var obj

        function loadAfterTime() {
            document.getElementById("age").value = getObject("age")
            document.getElementById("phone").value = getObject("phone")
            document.getElementById("nationality").value = getObject("nationality")
            document.getElementById("name").value = getObject("name")
            document.getElementById("education").value = getObject("education")
        }

        function cons() {
            console.log(obj["data"]["age"].toString())
            console.log(obj.toString())
        }

        function getObject(val) {
            console.log(obj["data"][val])
            return obj["data"][val].toString()
        }

        function GetApi() {
            fetch(`/api/auth/getProfile`, {
                method: 'GET',
                headers: {
                    "Content-Type": "application/json",
                    'token': localStorage.getItem('token'),
                    'Accept': '*/*',
                    'Accept-Encoding': 'gzip, deflate, br',
                    'Cache-Control': 'no-cache',
                }
            })
                .then(function (response) {
                    console.log(response)
                    return response.json();
                })
                .then(function (jsonResponse) {
                    obj = jsonResponse
                }).then(loadAfterTime)
                .finally(
                    ApiResponse
                )
        }

        function UpdateApi() {
            fetch(`/api/auth/updateProfile`, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    'token': localStorage.getItem('token'),
                    'Accept': '*/*',
                    'Accept-Encoding': 'gzip, deflate, br',
                    'Cache-Control': 'no-cache',
                },
                body: JSON.stringify({
                    "age": document.getElementById('age').value,
                    "name": document.getElementById("name").value,
                    "nationality": document.getElementById("nationality").value,
                    "phone": document.getElementById("phone").value,
                    "education": document.getElementById("education").value,
                })
            }).then(loadAfterTime)
                .finally(
                    ApiResponse
                )
        }

        function ApiResponse() {
            document.getElementById("res").textContent = getErrObject("result")
            document.getElementById("msg").textContent = getErrObject("message")
            document.getElementById("code").textContent = getErrObject("code")
            document.getElementById("data").textContent = getErrObject("data")
        }

        function getErrObject(key) {
            if (key === "data") {
                return objToString(obj[key])
            }
            return obj[key]
        }

        function objToString(obj) {
            return Object.entries(obj).reduce((str, [p, val]) => {
                return `${str}${p}::${val}\n`;
            }, '');
        }

        function Logout() {
            localStorage.clear();
            window.location.href = "/signup"
        }

        function BackToCreate() {
            window.location.href = "/user/setProfile"
        }
    </script>
</div>

<form id="form1" name="form1">
    <div class="container">
        <h1>Profile Loaded, press any button below for relevant operation</h1>
        <p>Profile has been loaded but can be modified or updated from right here.</p>
        <hr>
        <label><b> Age:</b></label>
        <input id="age" type="text" placeholder="Enter Age" name="age"> </br>


        <label><b> Name:</b></label>
        <input id="name" type="text" placeholder="Enter Name" name="name"></br>

        <label><b> Education:</b></label>
        <input id="education" type="text" placeholder="Enter Education" name="education"></br>

        <label><b> Nationality:</b></label>
        <input id="nationality" type="text" placeholder="Enter Nationality" name="nationality"></br>

        <label><b> Phone:</b></label>
        <input id="phone" type="text" placeholder="Enter Phone" name="phone"></br>

        <input id="token" type="hidden" name="token" value={{.Token}}></br>
        <hr>
        <script>GetApi()</script>
        <button id="submitButton" type="submit" class="updateProfile" onclick=UpdateApi()><strong>Update
            Profile</strong></button>
        <button id="getProfile" type="button" value="Check" onclick=GetApi()><strong>Get
            Profile</strong></button>
        <button id="logout" type="button" value="Check" onclick=Logout()><strong>Logout</strong></button>
        <button id="createProfile" type="button" value="Check" onclick=BackToCreate();><strong>Create Profile</strong>
        </button>
    </div>
</form>
<hr>
<hr>
<hr>
<div class="error response">
    <h2 style="color: darkred">Request Response for API</h2>
    <hr>
    <label><b><h4>Response Code</h4></b></label><br><label id="code" style="color: darkmagenta"><b>Response from
    Server</b></label>
    <hr>
    <label><b><h4>Message</h4></b></label><br><label id="msg" style="color: darkblue"><b>Response from
    Server</b></label>
    <hr>
    <label><b><h4>Result</h4></b></label><br><label id="res" style="color: darkgreen"><b>Response from
    Server</b></label>
    <hr>
    <label><b><h4>Data</h4></b></label><br><label id="data" style="color: goldenrod"><b>Response from
    Server</b></label>
    <hr>
</div>
</div>
</body>
</html>