<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    window.onload = function handleGetApi() {
        event.preventDefault();
        console.log(document.getElementById("token").value)
        window.localStorage.clear();
        window.localStorage.setItem("token", document.getElementById("token").value)

        var req = new XMLHttpRequest();
        req.open("GET", '/user/setProfile', true);
        req.onreadystatechange = function (aEvt) {
            if (req.readyState == 4) {
                if (req.status == 200) {
                    window.location.href = "/user/setProfile"
                } else {
                    alert("Error loading page\n");
                }
            }
        };
        req.setRequestHeader("token", localStorage.getItem("token"))
        req.send()

    }
</script>
<body>
<input id="token" type="hidden" name="token" value={{.Token}}></br>
</body>
</html>