<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    window.onload = function handleGetApi() {
        console.log(document.getElementById("token").value)
        window.localStorage.clear();
        window.localStorage.setItem("token", document.getElementById("token").value)
    }

    var obj

    function ForgotPasswordApi() {
        fetch(`/updatePassword/updatePasswordApi`, {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
                'Accept': '*/*',
                'Accept-Encoding': 'gzip, deflate, br',
                'Cache-Control': 'no-cache',
                'token': localStorage.getItem("token")
            },
            body: JSON.stringify({
                "password": document.getElementById("pass").value,
                "confirmPassword": document.getElementById("confPass").value
            })
        }).then(function (response) {
            console.log(response)
            return response.json();
        })
            .then(function (jsonResponse) {
                obj = jsonResponse
            }).then(
            ApiResponse
        ).finally(
            isValidReq
        )

    }

    function isValidReq() {
        if (obj["code"] === 1000) {
            setTimeout(RedirectToLogin, 15000)
        }
    }

    function RedirectToLogin() {
        window.location.href = "/"
    }

    function ApiResponse() {
        document.getElementById("res").textContent = getObject("result")
        document.getElementById("msg").textContent = getObject("message")
        document.getElementById("code").textContent = getObject("code")
        document.getElementById("data").textContent = getObject("data")
    }

    function getObject(key) {
        if (key === "data") {
            return objToString(obj[key])
        }
        return obj[key]
    }

    function objToString(obj) {
        return Object.entries(obj).reduce((str, [p, val]) => {
            return `${str}${p}::${val}\n`;
        }, '');
    }

</script>
<body>
<input id="token" type="hidden" name="token" value={{.Token}}></br>
<form>
    <div class="Update Password">
        <h3>Enter your Password Twice, it must be atleast 6digits long</h3>
        <p>If successful, a reset link will be sent to email</p>
        <hr>
        <label><b>Enter Password:</b></label>
        <input id="pass" type="password" placeholder="Password" name="pass">
        <label><b>Enter Password:</b></label>
        <input id="confPass" type="password" placeholder="Confirm Password" name="confPass">
        <button id="forgotPassBtn" type="button" class="updatePass" onclick=ForgotPasswordApi()>
            <strong>Update Password</strong>
        </button>
    </div>
</form>
<hr>
<hr>
<hr>
<div class="error response">
    <h2 style="color: darkred">Request Response for API</h2>
    <hr>
    <label><b><h4>Response Code</h4></b></label><br><label id="code" style="color: darkmagenta"><b>Response from
    Server</b></label>
    <hr>
    <label><b><h4>Message</h4></b></label><br><label id="msg" style="color: darkblue"><b>Response from
    Server</b></label>
    <hr>
    <label><b><h4>Result</h4></b></label><br><label id="res" style="color: darkgreen"><b>Response from
    Server</b></label>
    <hr>
    <label><b><h4>Data</h4></b></label><br><label id="data" style="color: goldenrod"><b>Response from
    Server</b></label>
    <hr>
</div>
</body>
</html>